/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Sanchez&family=Shantell+Sans:ital@0;1&display=swap');

/* Override default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sanchez', serif;
    color: #020000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2 {
    font-family: 'Dekko', cursive;
    color: #020000;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 70px;
    background-color: #b4832b;
}

h1 {
    margin: auto 0;
    font-size: 10vw;
}

header>img {
    height: 10vw;
    margin: auto 0 auto 1rem;
}

/* Navbar */
nav {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    background-color: rgba(2, 0, 0, 0.7);
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#burger-icon {
    align-self: flex-end;
    margin: auto 1rem auto 0;
    font-size: 200%;
}

#navbar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

#navbar>li {
    list-style-type: none;
    align-self: flex-end;
    font-weight: bold;
}

#navbar a {
    text-decoration: none;
    color: #ddbc8d;
}

#navbar .active {
    text-decoration: underline;
}

/* Main Content */
main {
    background-color: #ddbc8d;
    /* Main section to take up any leftover space and to push footer down */
    flex: 1 0 auto;
}

#hero {
    background: url("../images/hero-optimised.webp") no-repeat center center/cover;
    width: 100%;
    height: 60vh;
}

.information-section {
    padding: 10px;
}

h2 {
    text-align: center;
}

/* Tortilla Menu */
#menu>h2 {
    margin-bottom: 10px;
}

#menu-items {
    border: 2px solid #020000;
    border-radius: 5px;
    padding: 5px;
    background: url("../images/menu-background-optimised.webp") no-repeat center center/cover;
    color: #fff;
    font-family: 'Shantell Sans', cursive;
}

table {
    width: 100%;
}

th {
    text-align: right;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.tortilla-price {
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
}

.tortilla-type {
    padding-bottom: 5px;
    width: 50vw;
}

.tortilla-name {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#menu-items>p {
    text-align: center;
    font-size: 80%;
    margin: 10px 35px;
}

/* About us section */
#about>p {
    padding: 5px;
}

.internal-link {
    color: #3c4213;
}

/* Tortilla slice photo */
.tortilla-image {
    width: 100%;
    height: 50vw;
}

.hidden {
    display: none;
}

/* How to enjoy section */
#how-to-enjoy>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    list-style-type: none;
}

#how-to-enjoy>div {
    text-align: center;
    margin-bottom: 20px;
}

/* Where to Find Us page */
/* Location information */
#find-us-main {
    padding: 30px 0;
}

#locations-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    margin-top: 20px;
}

.map {
    width: 80vw;
    height: 80vw;
    margin: 20px 0;
}

/* Contact information and photo */
#contact-us {
    text-align: center;
}

#contact-us>h2 {
    margin: 20px;
}

#contact-us>img {
    width: 90%;
    height: 55vw;
    border-radius: 5%;
}

#contact-details {
    margin: 20px 0;
}

/* Pre-order page */
#order-info {
    margin: 10px;
}

#order-info li {
    list-style: outside;
    margin-left: 30px;
}

#order-info h4 {
    margin: 10px 0 5px;
}

/* Terms and conditions interactive widget */
details {
    margin: 10px auto;
    border: 1px solid #020000;
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
    max-width: 300px;
}

summary {
    font-weight: bold;
}

details[open] summary {
    padding-bottom: 10px;
}

details[open] {
    max-width: 500px;
}

/* Order form */
#order-form {
    margin: 0 auto;
    max-width: 520px;
}

#order-form>fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    margin: 20px 10px;
    border: 1px solid #020000;
}

legend {
    font-weight: bold;
}

fieldset>div {
    margin-bottom: 5px;
}

fieldset label {
    width: 120px;
    display: inline-block;
}

.form-response {
    width: 150px;
    display: inline-block;
    padding: 3px;
}

#terms-conditions-div {
    margin: 15px 0;
    display: flex;
}

#terms-conditions-div input[type="checkbox"] {
    width: 15px;
    margin-right: 10px;
}

#terms-conditions-div label[for="terms-conditions"] {
    width: 240px;
    font-size: 12px;
}

input[type="submit"] {
    padding: 10px;
    width: 120px;
    border: 1px solid #020000;
    border-radius: 5px;
    background-color: #b4832b;
    font-weight: bold;
}

/* Footer */
footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b4832b;
}

.contact-icons {
    font-size: 150%;
}

.contact-icons>a {
    text-decoration: none;
    color: inherit;
    margin-left: 5vw;
}

.copyright {
    margin-right: 5vw;
}

/* Make the page responsive when using a tablet >= 768px */
@media screen and (min-width: 768px) {

    /* Index page main content */
    .information-section {
        padding: 20px 60px;
    }

    #menu-items {
        padding: 40px;
    }

    #about {
        padding: 0 60px 20px;
    }

    /* Find us page main content */
    #locations-section {
        /* Place the maps side by side */
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        margin: 20px
    }

    .map {
        width: 300px;
        height: 300px;
    }

    /* Remove horizontal rules from below each location information */
    #locations-section hr {
        display: none
    }

    #contact-us {
        position: relative;
    }

    #contact-details {
        position: absolute;
        z-index: 2;
        left: 10%;
        top: 20%;
        background-color: rgba(2, 0, 0, 0.7);
        color: #ddbc8d;
        padding: 20px;
        border-radius: 5%;
    }

    /* Order page */
    #order-info>h2 {
        margin: 1rem;
    }

    #order-info>#collection,
    #order-info>p {
        text-align: center;
        margin: 1rem 3rem;
    }

    #collection li {
        list-style: inside;
    }

    summary,
    details[open] summary {
        text-align: center;
    }

    /* Order form */
    #order-form {
        margin: 20px auto;
    }

    /* Footer */
    /* Center the icons and place copyright to the right-side */
    footer {
        justify-content: center;
        position: relative;
    }

    .contact-icons {
        display: flex;
        gap: 50px;
        font-size: 200%;
    }

    .contact-icons>a {
        margin: 0;
    }

    .copyright {
        position: absolute;
        right: 0;
        margin-right: 50px;
    }
}

/* Make the page responsive when using a laptop >= 992px */
@media screen and (min-width: 992px) {

    /* Header */
    header {
        justify-content: center;
    }

    h1 {
        margin: auto 5rem;
        font-size: 90px;
    }

    header img {
        height: 90px;
    }

    nav {
        display: block;
    }

    #navbar {
        flex-direction: row;
        justify-content: end;
        gap: 3rem;
        padding: 1rem 3rem;
        font-size: 20px;
    }

    #burger-icon {
        display: none;
    }

    /* Index page main content */
    #index-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .information-section {
        padding: 20px;
    }

    #menu,
    #about {
        width: 45%;
    }

    #menu-items {
        padding: 5px;
    }

    .tortilla-type {
        width: 200px;
    }

    #about {
        padding: 20px;
    }

    #about>p {
        line-height: 25px;
    }

    .internal-link:hover {
        font-weight: bold;
        transition: 200ms ease;
    }

    /* Tortilla images */
    #tortilla-images {
        display: flex;
        flex: 100%;
        justify-content: space-evenly;
    }

    .tortilla-image {
        width: 300px;
        height: 180px;
        border-radius: 5px;
    }

    /* Display hidden images when using a large screen */
    .hidden {
        display: inline;
    }

    /* How to enjoy section */
    #how-to-enjoy>p {
        margin: 5px 60px;
        line-height: 25px;
    }

    /* Find Us page */
    #find-us-main {
        /* Bring the title lower to stop the header covering it */
        padding-top: 80px;
    }

    #contact-us {
        margin-bottom: 30px;
    }

    #contact-us>img {
        width: 600px;
        height: 400px;
    }

    #contact-details {
        left: 10%;
        padding: 20px;
    }

    /* Order page */
    #order-info {
        margin-top: 70px;
    }

    details:hover {
        background-color: #020000;
        color: #ddbc8d;
    }

    details[open] {
        max-width: 800px;
    }

    details[open]:hover {
        background-color: inherit;
        color: inherit;
    }

    /* Order form */
    #order-form {
        max-width: 800px;
    }

    #order-form>fieldset {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #order-form div {
        margin-bottom: 15px;
    }

    .form-response {
        width: 200px;
    }

    #terms-conditions-div {
        margin: 5px 200px 15px;
    }

    #terms-conditions-div label[for="terms-conditions"] {
        width: 305px;
    }

    input[type="submit"]:hover {
        background-color: #020000;
        color: #b4832b;
    }
}

/* Make the page responsive when using a desktop >= 1320px */
@media screen and (min-width: 1320px) {
    #index-main {
        justify-content: space-evenly;
        align-items: center;
    }

    #menu,
    #about,
    #how-to-enjoy {
        width: 650px;
    }

    .tortilla-type {
        width: 350px;
    }

    /* How to enjoy section */
    #how-to-enjoy>p {
        margin: 0;
    }

    /* Hide two of the images to align the main image with the text sections */
    .hidden {
        display: none;
    }

    #tortilla-images {
        flex: none;
        order: 4;
        width: 650px;
    }

    .tortilla-image {
        width: 600px;
        height: 350px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Find Us page */
    #find-us-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #locations-section {
        gap: 50px;
    }

    #contact-us>h2 {
        margin: 0;
    }

    #contact-us img {
        position: static;
        margin-top: 35px;
    }

    /* Place contact details below the image of the food truck */
    #contact-details {
        position: static;
        background-color: inherit;
        color: inherit;
        margin: 0;
    }
}