/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Sanchez&display=swap');

/* Override default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sanchez', serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    /* Main section to take up any leftover space and to push footer down */
    flex: 1 0 auto;
}

h1,
h2 {
    font-family: 'Sanchez', cursive;
}