/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Sanchez&family=Shantell+Sans:ital@0;1&display=swap');
/* Override default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sanchez', serif;
    color: #020000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2 {
    font-family: 'Dekko', cursive;
    color: #020000;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 70px;
    background-color: #b4832b;
}

h1 {
    margin: auto 0;
    font-size: 10vw;
}

header>img {
    height: 10vw;
    margin: auto 0 auto 1rem;
}

/* Navbar */
nav {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    background-color: rgba(2, 0, 0, 0.7);
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#burger-icon {
    align-self: flex-end;
    margin: auto 1rem auto 0;
    font-size: 200%;
}

#navbar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

#navbar>li {
    list-style-type: none;
    align-self: flex-end;
    font-weight: bold;

}

#navbar a {
    text-decoration: none;
    color: #ddbc8d;
}

#navbar .active {
    text-decoration: underline;
}

/* Main Content */
main {
    background-color: #ddbc8d;
    /* Main section to take up any leftover space and to push footer down */
    flex: 1 0 auto;
}

#hero {
    background: url("../images/hero-optimised.jpg") center center/cover;
    width: 100%;
    height: 60vh;
}

.information-section {
    margin: 5px;
    padding: 5px;
}

h2 {
    text-align: center;
}

/* Tortilla Menu */
#menu-items {
    border: 2px solid #020000;
    border-radius: 5px;
    padding: 5px;
    background: url("../images/menu-background-optimised.jpg") no-repeat center center/cover;
    color: #fff;
    font-family: 'Shantell Sans', cursive;
}

table {
    width: 100%;

}

th {
    text-align: right;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.tortilla-price {
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
}

.tortilla-type {
    padding-bottom: 5px;
    width: 50vw;
}

.tortilla-name {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#menu-items>p {
    text-align: center;
    font-size: 80%;
    margin: 10px 35px;
}

/* About us section */
#about > p {
    padding: 5px;
}

/* Tortilla slice photo */
.tortilla-slice {
    width: 100%;
    height: 50vw;
}

.hidden {
    display: none;
}

/* How to enjoy section */
#how-to-enjoy>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    list-style-type: none;
}

#how-to-enjoy>div {
    text-align: center;
    margin-bottom: 20px;
}

/* Where to Find Us page */
/* Location information */
#where-to-find {
    margin: 30px 0;
}

#locations-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    margin-top: 20px;
}

.map {
    width: 80vw;
    height: 80vw;
    margin: 20px 0;
}

/* Contact information and photo */
#contact-us {
    text-align: center;
}

#contact-us > img {
    width: 90%;
    height: 55vw;
}

#contact-details {
    margin: 20px 0;
}

/* Footer */
footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b4832b;
}

.contact-icons {
    font-size: 200%;
}

.contact-icons>a {
    text-decoration: none;
    color: inherit;
    margin-left: 13px;
}

.copyright {
    margin-right: 13px;
}

/* Make the page responsive when using a tablet >= 768px */
@media screen and (min-width: 768px) {

    /* Index page main content */
    .information-section {
        padding: 20px;
    }

    #about {
        padding: 0 20px 20px;
    }

    /* Footer */
    /* Center the icons and place copyright to the right-side */
    footer {
        justify-content: center;
        position: relative;
    }

    .contact-icons>a {
        margin-left: 48px;
    }

    .copyright {
        position: absolute;
        right: 0;
        margin-right: 48px;

    }

}

/* Make the page responsive when using a laptop >= 992px */
@media screen and (min-width: 992px) {

    /* Header */
    header {
        justify-content: center;
    }

    h1 {
        margin: auto 5rem;
        font-size: 90px;
    }

    header img {
        height: 90px;
    }

    nav {
        display: block;
    }

    #navbar {
        flex-direction: row;
        justify-content: end;
        gap: 3rem;
        padding: 1rem 3rem;
        font-size: 20px;
    }

    #burger-icon {
        display: none;
    }

    /* Index page main content */
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #menu,
    #about {
        width: 45%;
    }

    #about {
        padding: 20px;
    }

    .tortilla-type {
        width: 200px;
    }

    .tortilla-slice {
        width: 300px;
        height: 180px;
    }

    /* Display hidden images when using a large screen */
    .hidden {
        display: inline;
    }

    #tortilla-images {
        display: flex;
        flex: 100%;
        justify-content: space-evenly;
    }

}

/* Make the page responsive when using a desktop >= 1320px */
@media screen and (min-width: 1320px) {
    main {
        justify-content: space-evenly;
        align-items: center;
    }
    
    #menu,
    #about,
    #how-to-enjoy {
        width: 650px;
    }

    .tortilla-type {
        width: 350px;
    }

    /* Hide two of the images to align with the text sections */
    .hidden {
        display: none;
    }

    #tortilla-images {
        flex: none;
        order: 4;
        width: 650px;

    }

    .tortilla-slice {
        width: 600px;
        height: 350px;
        margin: 0 auto;
        padding: 20px;
    }


    }
